<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Create Account</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="accountNumber" class="form-label">Account Number</label>
                <input type="text" class="form-control" id="accountNumber" formControlName="accountNumber">
              </div>
              <div class="mb-3">
                <label for="balance" class="form-label">Balance</label>
                <input type="text" class="form-control" id="balance" formControlName="balance">
              </div>
              <input type="hidden" formControlName="clientId">
              <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  