<section class="site-section border-bottom bg-light" id="services-section">
    <div class="container" >
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <p class="section-title mb-3">Our Services</p>
        </div>
      </div>
      <div class="row align-items-stretch"style="margin-left: 150px;">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4">
            <div class="unit-4-icon">
              <img
                src="./assets/client/images/flaticon-svg/svg/001-wallet.svg"
                alt="Free Website Template by Free-Template.co"
                class="img-fluid w-25 mb-4"
              />
            </div>
            <div>
              <h3>Virement d'argent</h3>
              <!-- <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p> -->
              <a  [routerLink]="['/virement']">Learn More</a>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-4 mb-4 mb-lg-4"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="unit-4">
            <div class="unit-4-icon">
              <img
                src="./assets/client/images/flaticon-svg/svg/006-credit-card.svg"
                alt="Free Website Template by Free-Template.co"
                class="img-fluid w-25 mb-4"
              />
            </div>
            <div>
              <h3>Compte bancaire</h3>
           
              <a [routerLink]="['/detail-compte']">Learn More</a>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-4 mb-4 mb-lg-4"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="unit-4">
            <div class="unit-4-icon">
              <img
                src="./assets/client/images/profile.png"
                alt="Free Website Template by Free-Template.co"
                class="img-fluid w-25 mb-4"
              />
            </div>
            <div>
              <h3>Profile</h3>
             
              <p><a [routerLink]="['/profil']">Learn More</a></p>
            </div>
          </div>
        </div>
  

      
       
      </div>
    </div>
  </section>
