<div class="container " style="background-color:white ;margin-left:100px">
    <div class="row justify-content-center">
      <div class="col-md-12" >
     
        <div class="container">
          <p style="text-align: center;font-weight:bold">Changer mot de passe</p>
          <br>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">E-mail:</label>
              <input type="email" formControlName="email" class="form-control" required>
              <div *ngIf="passwordForm.get('email')?.invalid && (passwordForm.get('email')?.dirty || passwordForm.get('email')?.touched)" class="alert alert-danger">
                <div *ngIf="passwordForm.get('email')?.errors?.['required']">L'adresse e-mail est requise.</div>
                <div *ngIf="passwordForm.get('email')?.errors?.['email']">L'adresse e-mail n'est pas valide.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="currentPassword"> mot de passe actuel :</label>
              <input type="password" formControlName="currentPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)" class="alert alert-danger">
                Current password is required.
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">nouveau mot de passe  :</label>
              <input type="password" formControlName="newPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)" class="alert alert-danger">
                The new password is required.              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirmer mot de passe :</label>
              <input type="password" formControlName="confirmPassword" class="form-control" required>
              <div *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)" class="alert alert-danger">
                Confirmation of the new password is required.              </div>
              <div *ngIf="passwordForm.get('confirmPassword')?.value !== passwordForm.get('newPassword')?.value && passwordForm.get('confirmPassword')?.dirty" class="alert alert-danger">
                Confirmation of new password does not match new password.              </div>
            </div>
            <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Change password</button>
            </div>
          </form>
        </div>
        

      </div>
        
      </div>
</div>





<!-- 


<div class="tab-pane fade pt-3" >
    <form>

      <div class="row mb-3">
        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
        <div class="col-md-8 col-lg-9">
          <input name="password" type="password" class="form-control" id="currentPassword">
        </div>
      </div>

      <div class="row mb-3">
        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
        <div class="col-md-8 col-lg-9">
          <input name="newpassword" type="password" class="form-control" id="newPassword">
        </div>
      </div>

      <div class="row mb-3">
        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
        <div class="col-md-8 col-lg-9">
          <input name="renewpassword" type="password" class="form-control" id="renewPassword">
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </form>

  </div> -->