<div class="site-section" id="next" style="margin-left: 200px;">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
          <img
            src="./assets/client/images/user.png"
            alt="Free Website Template by Free-Template.co"
            class="img-fluid w-25 mb-4"
          />
          <a href="#"><h3 class="card-title">Admin</h3></a>
          <div class="col-auto"><button class="btn btn-primary" routerLink="/loginadmin">Login</button></div>

        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
          <img
            src="./assets/client/images/customer-service.png"
            alt="Free Website Template by Free-Template.co"
            class="img-fluid w-25 mb-4"
          />
          <h3 class="card-title">Controleur de suivie</h3>
          <div class="col-auto"><button class="btn btn-primary" routerLink="/login">Login</button></div>

        </div> -->
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
          <img
            src="./assets/client/images/client.png"
            alt="Free Website Template by Free-Template.co"
            class="img-fluid w-25 mb-4"
          />
          <a href="#"><h3 class="card-title">Client</h3></a>
          <!-- <p> -->
            <!-- A small river named Duden flows by their place and supplies it with
            the necessary regelialia. -->
            <div class="row justify-content-center user-social-link">
                <div class="col-auto"><button class="btn btn-primary" routerLink="/login">Login</button></div>
                <div class="col-auto"><button class="btn btn-primary" routerLink="/signup">Sign Up</button></div>

            </div>
          <!-- </p> -->
        </div>
      </div>
  
   