<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header  text-black">
          <h2 class="text-center">Account Details</h2>
          <!-- Add click event to the button to toggle transaction details -->
          <button class="btn btn-secondary" (click)="toggleTransactions()">Virement</button>
        </div>
        <div class="card-body">
          <div *ngIf="account; else noAccount">
            <p><strong>Account Number:</strong> {{ account.accountNumber }}</p>
            <p><strong>Balance <i class="bi bi-cash-coin"></i>:</strong> {{ account.balance }}</p>
            <p><strong>Owner ID:</strong> {{ account.ownerId }}</p>
          </div>
          <ng-template #noAccount>
            <p>No account details available.</p>
          </ng-template>
          <!-- Add transaction details section with ngIf directive to toggle visibility -->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showTransactions" class="container mt-5">
  <!-- Add your transaction details here in a table format -->
  <table class="table table-striped table-bordered">
    <thead class="bg-primary text-white">
      <tr>
        <th>Transaction ID</th>
        <th>Sender ID</th>
        <th>Receiver ID</th>
        <th>Amount</th>
        <th>Date</th>
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction._id }}</td>
        <td>{{ transaction.sender }}</td>
        <td>{{ transaction.receiver }}</td>
        <td>{{ transaction.amount}}</td>
        <td>{{ transaction.date}}</td>
        <!-- Add more table cells for additional transaction details -->
      </tr>
    </tbody>
  </table>
</div>


   <!-- profil.component.html -->

<!-- <div *ngIf="account">
    <h2>Account Details</h2>
    <p>Account Number: {{ account.accountNumber }}</p>
    <p>Balance: {{ account.balance }}</p>
  </div>
  <div *ngIf="error">
    <p>{{ error }}</p>
  </div> -->
  